.thing{
  position: relative;
  z-index: 10;
  align-items: center;
  background-color: #3562aa;
  width: 130px;
  height: 80px;
  margin-right: 12px;
  margin-bottom: 10px;
  border-radius: 5px;

  .title{
    text-align: center;
    font-size: 1.5rem;
    line-height: 80px;
  }
  .id{
    position: absolute;
    width: 25px;
    left: 100px;
    bottom: 55px;
    text-align: right;
  }
  .statusOpen{
    position: absolute;
    top: 12px;
    width: 5px;
    height: 55px;
    background-color: #f4e700;
    border-radius: 0px 50px 50px 0px;
  }
  .statusClose{
    background-color: #f64d25;
    position: absolute;
    top: 12px;
    width: 5px;
    height: 55px;
    border-radius: 0px 50px 50px 0px;
  }
  .statusJoined{
    background-color: #203d74;
    position: absolute;
    top: 12px;
    left: -12px;
    z-index: 1;
    width: 12px;
    height: 55px;
  }
}
